body { background: white;/*#E7E7E7;*/ font-family: Verdana, sans-serif; font-size: 11pt; }
#page { padding-left: 10px; margin-left: 50px; margin-right: 50px; }
#header { background: #CEDCEC; text-align: center; padding: 5px; color: black; }
#footer { text-align: right; padding: 10px; }
#header h1 { color: black; }
#body { padding: 10px; }
#logo { padding-left: 10px; float: right; }
#content { }
h2 { padding-left: 2px; background:#EAEDF4; }
.subcontent { margin-left:5px; }
.clear { clear: both; height:0 }
em { font-weight: bold; }
span.tt { font-family: monospace; }
span.bold { font-weight: bold; }
.small { font-size: 8pt; }
code { font-family: monospace; background: #FBFBFB; padding:2px; margin-left:5px; }
a:link { text-decoration: none; color: #001591; }
a:visited { text-decoration: none; color: #833A9E; }
a:active { text-decoration: none; color: #001591; }
a:hover { text-decoration: underline; color: #001591;  }
.footnote { font-size: 8pt;  }
a.footnote-link { vertical-align: super; font-size: 6pt; color: #555 }
a.inthead { color: black; }
a.inthead:hover { text-decoration: none; color: black; background: #EAEDF4; }
h3 a.inthead:hover { color: black; background: #FFFFFF; }
img { border: none; }
.error { color: #CC2222; font-weight: bold }

