#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)-.*/\1/p')
# 0.9~492-6a4e7ca -- <tag>~<rev>-<sha>
sha1 := $(shell dpkg-parsechangelog | sed -ne 's/^Version: .*\([0-9a-f]\{7\}\)-.*/\1/ p' 2>/dev/null )
tag := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \([0-9\.]\+\).*/\1/ p' 2>/dev/null )

DEB_CMAKE_EXTRA_FLAGS := -DENABLE_TESTS=OFF -DCMAKE_SKIP_RPATH=OFF -DCMAKE_BUILD_TYPE=Release -DLINE_EDITOR=readline


get-orig-source:: $(if $(sha1), get-orig-source-SHA, get-orig-source-tag)

# Tempory version to build from a recent SHA1
get-orig-source-tag::
	rm -rf $@
	git clone git://github.com/ruediger/flusspferd.git $@/flusspferd
	cd $@/flusspferd git checkout orig v$(tag) && git submodule update --init
	find $@/flusspferd -depth  -type d -name .git -execdir rm -rf {} +
	cd $@ && tar -cf - flusspferd | gzip -9f - > ../flusspferd_$(VERSION).orig.tar.gz
	rm -r $@

get-orig-source-SHA::
	rm -rf $@
	git clone git://github.com/ruediger/flusspferd.git $@/flusspferd
	cd $@/flusspferd git checkout -b orig $(sha1) && git submodule update --init
	find $@/flusspferd -depth  -type d -name .git -execdir rm -rf {} +
	cd $@ && tar -cf - flusspferd | gzip -9f - > ../flusspferd_$(VERSION).orig.tar.gz
	rm -r $@
